{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('task_list') }}">Tasks List</a>
{{ form_start(form) }}
    {{ form_row(form.description) }}

    <h3>Tags</h3>

    <ul id="simpleList" class="tags list-group" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
        {% for tag in form.tags %}
            <li class="list-group-item">{{ form_row(tag.name) }} {{ form_row(tag.order_tag) }}</li>
        {% endfor %}
    </ul>
    <button type="button" id="add_tag_link">Add a tag</button>
    <button type="submit">Envoyer</button>
{{ form_end(form) }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>

        jQuery(document).ready(function($){
            var $collectionHolder;
            // setup an "add a tag" link
            var $addTagButton = $('#add_tag_link');

            var $newLinkLi = $('#simpleList');

            $collectionHolder = $('ul.tags');

            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $collectionHolder.append($newLinkLi);

            $collectionHolder.data('index', $collectionHolder.find('input').length);
            $addTagButton.on('click', function(e) {
                    addTagForm($collectionHolder, $newLinkLi);
            });

            $("#simpleList").sortable({
                update : function () {
                    setOrder()
                }
            });

            function setOrder() {
                var order = $('#simpleList').children()
                order.map(function(k){
                    let li = order[k]
                    $(li).find("input[type=number]").val(k)
                })
            }

            function addTagForm($collectionHolder, $newLinkLi) {
                var prototype = $collectionHolder.data('prototype');
                var index = $collectionHolder.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                $collectionHolder.data('index', index + 1);
                var $newFormLi = $('<li class="list-group-item"></li>').append(newForm);
                $newLinkLi.append($newFormLi);
                addTagFormDeleteLink($newFormLi);
                setOrder()
            }

            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormButton = $('<button type="button">Delete this tag</button>');
                $tagFormLi.append($removeFormButton);
                $removeFormButton.on('click', function(e) {
                    $tagFormLi.remove();
                });
                setOrder()
            }
        });
    </script>
{% endblock %}